<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Randomizer</title>
</head>
<body>
<!-- begin inner template-->

<div class="container">
    <h1>This is the header</h1>
    <hr>
    <br>
    #parse( $template )
    <br>
    <hr>
    <h1>This is the footer</h1>
</div>

<!-- end inner template-->
</body>
</html>